h1{
    text-align: center;
    color: crimson;
}
div.relativo{
    max-width: 300px;
    height: 200px;
    position: relative;
    top:10px;
    left: 100px;
    border: 3px solid cornflowerblue;
}
div.absoluto{
    position: absolute;
    bottom:20px;
    right:10px;
    border: 3px solid firebrick;
}