h1{
    text-align: center;
}
.rojo{
    border: 10px solid firebrick;
    /*background-color: firebrick;*/
}
.rosa{
   border: 10px dashed rgb(255, 105, 180);
}
.amarillo{
    border: 10px double #ffd700;
}
.azul{
    border: 10px dotted hsl(174, 72%, 56%);
}