h1{
    text-align: center;
}
.solido{
    border: solid red;
    border-width: 5px;
    border-radius: 20px;
}
.redondeado{
    border: 5px solid blueviolet;
    border-radius: 20px 0px 10px 0px;
}
