h1{
    text-align: center;
    color: #e63946;
}
.caja1{
    padding: 10px 15px 5px 3px;
    border: 1px solid #457b9d;
    margin: 30px;
    background-color: #f1faee;
    max-width: 300px;
    box-sizing: border-box;
}
.caja2{
    padding: 10px 15px 5px 3px;
    border: 1px solid #457b9d;
    margin: 20px;
    background-color: #f1faee;
    max-width: 300px;
    box-sizing: border-box;
}


