h1{
    text-align: center;
    text-shadow: 2px 2px 5px grey;
}
div.contenedor{
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 15px;
    text-align: center;
}