h1{
    color: #ef476f;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #ced4da;
}
.caja{
    padding: 5px;
    width: 40%;
    height: 80px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    float: left;
}
.caja.serif{
    background-color: #5a189a;
}
.fuente_times{
    font-family: 'Times New Roman', Times, serif;
}
